<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/css/index.css">
</head><body>

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" th:src="${#authentication.principal.profileImage}" class="online" alt=""/>
                <p sec:authentication="principal.nickname">닉네임</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="facebook" type="text" value="mikeross" />
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81" />
                    <label for="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="insta" type="text" value="mike.ross" />
                </div>
            </div>
        </div>
        <div id="search">
            <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" name="search" placeholder="검색..." />
        </div>

        <!--/* 좌측 채팅 목록 */-->
        <div id="contacts">
            <ul id="room-list-wrap">
            </ul>
        </div>

        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>대화추가</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>설정</span></button>
        </div>
    </div>

    <!--/* 채팅 탭 */-->
    <div id="content-wrap">
    </div>

</div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script type="text/html" id="room-list">
    <li class="contact room{id} {active}" data-room-id={id}>
        <div class="wrap">
            <span class="contact-status {status}"></span>
            <img src="{profileImage}" alt=""/>
            <div class="meta">
                <p class="name">{name}</p>
                <p class="preview">{content}</p>
            </div>
        </div>
    </li>
</script>

<script type="text/html" id="message-list">
    <li class="{status}">
        <img src="{profileImage}" alt=""/>
        <p>{message}</p>
    </li>
</script>

<script type="text/html" id="content-list">
    <div class="content room{id}" {style}>
        <div class="contact-profile">
            <img src="{profileImage}" alt=""/>
            <p>{name}</p>
            <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>

        <div class="messages">
            <ul>
                {messages}
            </ul>
        </div>

        <div class="message-input">
            <div class="wrap">
                <input type="text" name="message" placeholder="메시지를 작성하세요..."/>
                <input type="file" multiple id="file" style="display: none;"/>
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</script>

<script>
const userId = [[${#authentication.principal.id}]];
const email = '[[${#authentication.principal.email}]]';
const nickname = '[[${#authentication.principal.nickname}]]';

document.querySelector('#profile-img').addEventListener('click', () => document.querySelector('#status-options').classList.toggle('active'));
document.querySelector('.expand-button').addEventListener('click', () => {
    document.querySelector('#profile').classList.toggle('expanded');
    document.querySelector('#contacts').classList.toggle('expanded');
});
document.querySelectorAll('#status-options ul li').forEach(element =>
    element.addEventListener('click', e => {
        const profileImg = document.querySelector('#profile-img');
        const statusOnline = document.querySelector('#status-online');
        const statusAway = document.querySelector('#status-away');
        const statusBusy = document.querySelector('#status-busy');
        const statusOffline = document.querySelector('#status-offline');
        profileImg.className = '';
        statusOnline.classList.remove('active');
        statusAway.classList.remove('active');
        statusBusy.classList.remove('active');
        statusOffline.classList.remove('active');
        e.target.classList.add('active');

        if(statusOnline.classList.contains('active')) {
            profileImg.classList.add('online');
        } else if (statusAway.classList.contains('active')) {
            profileImg.classList.add('away');
        } else if (statusBusy.classList.contains('active')) {
            profileImg.classList.add('busy');
        } else if (statusOffline.classList.contains('active')) {
            profileImg.classList.add('offline');
        } else {
            profileImg.className = '';
        };
        document.querySelector('#status-options').classList.remove('active');
    })
);


function sendMessage() {
    const roomId = document.querySelector('li.contact.active').dataset['roomId'];
    const messageInput = document.querySelector(`.content.room${roomId} .message-input input`);
    const message = messageInput.value.trim();
    if (message && stompClient) {
        const message = {
            messageType: 'CHAT',
            content: messageInput.value,
            chatRoom: {
                id: roomId
            }
        };
        stompClient.send(`/publish/topic/${roomId}`, {}, JSON.stringify(message));
        messageInput.value = '';
    }
};

function scrollBottom() {
    $(".messages").animate({ scrollTop: 99999999999999999999999999999999 });
}

function onMessageReceived(payload) {
    const message = JSON.parse(payload.body);
    const messageListTemplate = document.querySelector(`#message-list`).innerHTML;
    let messageListHtml = '';
    if (message.messageType === 'JOIN') {
        message.content = message.sender + ' 님이 채팅에 참여하셨습니다.';
    } else if (message.messageType === 'LEAVE') {
        message.content = message.sender + ' 님이 채팅을 나가셨습니다.';
    }
    const status = message.sender.id === userId ? 'sent' : 'replies';
    const profileImage = message.sender.profileImage;
    document.querySelector(`.content.room${message.chatRoom.id} .messages ul`).innerHTML += messageListTemplate
                        .replace('{message}', message.content)
                        .replace('{profileImage}', message.sender.profileImage)
                        .replace('{status}', message.sender.id === userId ? 'sent' : 'replies');
    document.querySelector(`.contact.room${message.chatRoom.id} .preview`).innerHTML = `<span>${status}: </span>${message.content}`;
	scrollBottom();
}

function addChatRoomListener() {
    document.querySelectorAll('.submit').forEach(element => {
        element.addEventListener('click', e => {
            sendMessage();
            const roomId = document.querySelector('li.contact.active').dataset['roomId'];
            document.querySelector(`.content.room${roomId} .message-input input`).focus();
        });
    });
    document.querySelectorAll('.contact').forEach(element => {
        element.addEventListener('click', e => {
            document.querySelector('.contact.active').classList.remove('active');
            e.target.closest('.contact').classList.add('active');
            const roomId = document.querySelector('li.contact.active').dataset['roomId'];
            document.querySelectorAll('.content').forEach(element => element.style.display = element.classList.contains(`room${roomId}`) ? '' : 'none');
            scrollBottom();
        });
    });
    document.querySelectorAll('.attachment').forEach(element => {
        element.addEventListener('click', e => {
            const roomId = document.querySelector('li.contact.active').dataset['roomId'];
            document.querySelector(`.content.room${roomId}`).querySelector('input[type=file]').click();
        });
    });
    document.querySelector('input[name=search]').addEventListener('input', e => {
        const value = e.target.value;
        document.querySelectorAll('li.contact').forEach(element => {
            element.style.display = element.querySelector('p.name').innerText.includes(value) ? '' : 'none';
        });
    });
}

window.addEventListener('keydown', e => {
    if (e.which == 13 && e.target.name === 'message') {
        sendMessage();
        return false;
    }
});

function onConnected() {
    const xhr = new XMLHttpRequest();
    xhr.onload = () => {
        if (xhr.readyState === 4 && xhr.status === 200) {
            const data = JSON.parse(xhr.responseText);
            const promise = new Promise((resolve, reject) => {
                data.forEach(element => stompClient.subscribe(`/subscribe/topic/${element.id}`, onMessageReceived))
                resolve();
            }).then(data => console.log('connect chat room websocket connection success'));
            data.forEach((element, index) => {
                const roomListTemplate = document.querySelector('#room-list').innerHTML;
                const contentListTemplate = document.querySelector('#content-list').innerHTML;
                const messageListTemplate = document.querySelector('#message-list').innerHTML;
                let roomListHtml = '';
                let contentListHtml = '';
                let messageListHtml = '';
                const isActiveChatRoom = index === 0;
                const members = element.members.filter(member => member.nickname !== nickname);
                const memberNames = members.map(member => member.nickname).join(', ');
                const profileImage = element.roomType === 'DIRECT' ? members[0].profileImage : '여러명 이미지 합친거';
                roomListHtml += roomListTemplate
                        .replace('{name}', memberNames)
                        .replace('{profileImage}', profileImage)
                        .replace('{content}', element.messages.length > 0 ?
                            `<span>${element.messages[element.messages.length - 1].sender.id === userId ? 'sent' : 'replies'}: </span>${element.messages[element.messages.length - 1].content}` : '')
                        .replaceAll('{id}', element.id)
                        .replace('{active}', isActiveChatRoom ? 'active' : '')
                        .replace('{status}', 'online');
                element.messages.forEach(message => {
                    messageListHtml += messageListTemplate
                                                            .replace('{message}', message.content)
                                                            .replace('{profileImage}', message.sender.profileImage)
                                                            .replace('{status}', message.sender.id === userId ? 'sent' : 'replies');
                });
                contentListHtml += contentListTemplate
                                                        .replace('{id}', element.id)
                                                        .replace('{style}', isActiveChatRoom ? '' : "style='display: none;'")
                                                        .replace('{messages}', messageListHtml)
                                                        .replace('{profileImage}', profileImage)
                                                        .replace('{name}', memberNames);
                document.querySelector('#room-list-wrap').innerHTML += roomListHtml;
                document.querySelector('#content-wrap').innerHTML += contentListHtml;
            });
            scrollBottom();
            addChatRoomListener();
        } else if (xhr.readyState === 4 && xhr.status !== 200) {
            alert("error");
        }
    }
    xhr.open('get', '/api/v1/chatroom');
    xhr.send();
}

const socket = new SockJS('/ws');
stompClient = Stomp.over(socket);
stompClient.connect({}, onConnected, error => alert(error));

</script>
</body></html>